@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #71bdc5, #009faa);
  overflow: auto;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

/* src/components/FlippingCard.css */
.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cardEditList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -55px;
}

.cardList {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editDeck,
.editCard {
  margin: 5px;
  display: flex;
}

.editCard button {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(247, 121, 121), rgb(224, 19, 19));
  margin-top: 37px;
  margin-bottom: 37px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}

.editCard button:hover {
  background-image: linear-gradient(to right, rgb(199, 68, 68), rgb(137, 7, 7));
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

}

.editDeck {
  flex-direction: column;
  align-items: center;
}

.editDeck input {
  text-align: center;
  width: 300px;
  height: 30px;
}

.termEdit,
.definitionEdit {
  width: 150px;
  height: 30px;
}

.termEdit {
  margin: 10px;
  border-radius: 15px;
  border: none;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #838383;
  font-size: 16px;
  background-color: transparent;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
}

.termEdit:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.definitionEdit {
  padding: 10px;
  resize: none;
  width: 300px;
  height: 100px;
  max-width: 300px;
  border: none;
  border-radius: 10px;
  border-bottom: 2px solid #838383;
  font-size: 16px;
  background-color: transparent;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.definitionEdit:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.saveEdit {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(121, 247, 205), rgb(19, 224, 156));
  margin-top: 37px;
  margin-bottom: 37px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.saveEdit:hover {
  background-image: linear-gradient(to right, rgb(102, 201, 168), rgb(15, 182, 126));
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

}

#addCard,
#finishEdit {
  position: fixed;
  margin: 20px;
  width: 150px;
  height: 30px;
}

#createDeck {
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

#addCard {
  right: 10px;
  bottom: 50px;
}

#finishEdit {
  right: 10px;
  bottom: 10px;
}

.front {
  background-color: #f3f3f3;
}

.back {
  background-color: #3498db;
  transform: rotateY(180deg);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
