/* Home.css */

.type-container-writer {
    display: flex;
    flex-direction: row; /* Change to row */
    align-items: center;
    justify-content: center; /* Center items horizontally */
    text-align: center;
    font-size: 40px;
    overflow: auto;
}
