/* Home.css */

.type-container-writer {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 5%;
  }

  @media (min-width: 768px) {
    .type-container-writer{
        font-size: 40px;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
    }
  } 