/* CardPage.module.css */

.card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center;
  max-width: 600px;
}

/* Add these styles to center the buttons horizontally */
.card-nav-buttons {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  position: relative;
  bottom: 250px;
}

.nav-button1 {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #a1e3f3, #5ac5cb);
  border: none;
  border-radius: 40%;
  width: 45px;
  height: 50px;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 550px;
}

.nav-button2 {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #a1e3f3, #5ac5cb);
  border: none;
  border-radius: 40%;
  width: 45px;
  height: 50px;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button1:hover {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #b3c9ce, #72a5a8);
}

.nav-button2:hover {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #b3c9ce, #72a5a8);
}
  
  #editDeck {
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 50px;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    background-image: linear-gradient(to right,   #b6eaed, #87dae0);
    border: none;
    transition: background-color 0.3s ease;
    font-size: 20px;
  }

  #editDeck:hover{
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right,   #75a5aa, #469fa5);
    color: whitesmoke;
  }

  .createdeck {
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #b7e7ec, #6ed8df);
    border: none;
    width: 45px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  .createdeck:hover {
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #91babf, #59b5bb);
    color: white;
  }

  .newdeckDiv{
    display: flex;
    flex-direction: column; /* Vertically center the button */
    align-items: center; /* Horizontally center the button */
    justify-content: center; /* Vertically center the button */
    height: 100%; /* Ensure the container takes up the full height */
  }
  
  .remove-deck{
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #ef6d6d, #c10b0b);
    border: none;
    width: 200px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 170px;
    margin-right: 20px;
  }

  .remove-deck:hover{
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #da5353, #7d0404);
    color: white;
  }